@model IEnumerable<PhotoApp.Utils.Models.PhotoDto>;

<style>
    .horizontal {
        margin: 0;
        padding: 0;
    }

     .photoframe {
        display: inline-block;
        width: auto;
        height: auto;
        border: 1px solid #000;
        margin: 10px;
    }
</style>


<ul class="horizontal">
@foreach (var photo in Model)
{
    <li class="photoframe"> <img src="@photo.ImgDataURL"></li>
}
</ul>
